$primary-background-color: #303657;
$primary-border-color: #3b3f70;
$header-text-color: #8c94c1;
$data-text-color: #d1d9f0;
$hover-background: rgba(255, 255, 255, 0.1);

$font-family: 'Inter', sans-serif;
$font-weight-normal: 500;
$font-weight-normal-bold: 525;

$font-size-small: 14px;
$font-size-medium: 16px;

.inventory-container {
  font-family: $font-family;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: $primary-background-color;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 12px;
    text-align: right;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    color: $header-text-color;
  }

  td {
    padding: 12px;
    text-align: right;
    font-weight: $font-weight-normal-bold;
    font-size: $font-size-medium;
    color: $data-text-color;
  }

  thead {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }

  tbody tr {
    border-bottom: 1px solid $primary-border-color;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  tbody tr:hover {
    background: $hover-background;
  }
}
