// Color Variables
$primary-background-color: #1c1f38;
$container-background-color: #303657;
$container-border-color: #3b3f70;
$header-text-color: #8c94c1;
$data-text-color: #d1d9f0;
$hover-background: rgba(255, 255, 255, 0.1);

// Typography
$font-family: 'Inter', sans-serif;
$font-weight-normal: 500;
$font-weight-normal-bold: 525;

// Font Sizes
$font-size-small: 14px;
$font-size-medium: 16px;
