// Color Variables
$container-background-color: #303657;
$container-border-color: #3b3f70;
$hover-background: rgba(255, 255, 255, 0.1);
$primary-background-color: #1c1f38;
$primary-button-background-color: #8c94c1;
$text-light-color: #d1d9f0;
$text-middle-color: #8c94c1;
$text-dark-color: #2a2e52;
//$data-text-color: #d1d9f0;
//$header-text-color: #8c94c1;

// Typography
$font-family: 'Inter', sans-serif;
$font-weight-normal: 500;
$font-weight-normal-bold: 525;

// Font Sizes
$font-size-small: 14px;
$font-size-medium: 16px;
